        
td { font-size:9pt; }
.tdtitle {font-size:10pt}
.texttitle {color:#006C6C; font-size:9pt}
.tdtitle2 {font-weight: bold; color:#FFFFFF; font-size:11pt}
.tdtitle3 {font-weight: bold; color:#003331; font-size:10.5pt}
.tdtitle03 { color:#003331; font-size:9pt}
.tdtitle4 {color:#D2EAFF; font-size:9pt; font-family: "Arial", "Verdana", "Helvetica", "sans-serif";}
.tdtitle5 {font-weight: bold; color:#003331; font-size:10.5pt;height:35px}
.tdtitle05 {font-weight: bold; color:#003331; font-size:10.5pt;}
.tdtitle6 {color:#003331; font-size:10.5pt}
.tdtitle66 {color:#003331; font-size:9pt}
.tdtitle7 {color:#FFFFFF; font-size:9pt}
.tdtitle8 {color:#FFFFFF; font-size:9pt}
.tdtitle9 {font-family: "Arial", "Verdana", "Helvetica", "sans-serif"; font-size: 9pt; color: #FFFFFF; font-weight: normal}
.tdtitle10 {color:#76B1AB; font-size:9pt}
.tdtitle11 {font-weight: bold; color:#003331; font-size:16pt}
.tdtitle12 {font-weight: bold; color:#9E9E9E; font-size:10.5pt}
.tdtitle13 {font-weight: bold; color:#006A65;font-family: "simhei"; font-size:24pt}
.tdtitle14 {font-weight: bold; font-family:"SimHei"; color:#ffffff; font-size:19pt; letter-spacing: 2px; }
.tdtitle15 {font-weight: bold; color:#004080; font-size:14pt}
.tdtitle16  { font-size:9pt; color:#91D0CC}
.tdtitle17 {font-weight: bold; color:#FFFFFF; font-family: "simhei"; font-size:18pt}
  .selecttr
 {
     
	background-color:#008080; 
	color:#FFFFFF ;
	 
 }
  .Tab1
        {
            border-bottom: 0pt solid #B1CCEF;
            border-right: 0pt solid #B1CCEF;
            border-left: 0pt solid #B1CCEF;
            border-top: 0pt solid #B1CCEF;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
             vertical-align:middle ;
            background-color: #B1CCEF;
            background-image: none;
            color: #3355C8;
            font-family: "宋体";
            font-size: 10pt;
            font-weight: bold;
            background-image: url('../images/TabButton_on.gif');
            cursor: hand;
            width: 170px;
        }
        .Tab2
        {
            border-bottom: 0pt solid #B1CCEF;
            border-right: 0pt solid #B1CCEF;
            border-left: 0pt solid #B1CCEF;
            border-top: 0pt solid #B1CCEF;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
             vertical-align:middle ;
            padding-top: 0px;
            font-family: 宋体;
            font-size: 10pt;
            width: 170px;
            background-color: #B1CCEF;
            background-image: url('../images/TabButton.gif');
            cursor: hand;
        }


.search {font-family: "Verdana","Arial", "宋体"; font-size: 12px; BEHAVIOR: url(css/selectBox.htc); cursor: hand; }
.search1 {font-family: "Verdana","Arial", "宋体"; font-size: 12px; BEHAVIOR: url(css/selectBox.htc); cursor: hand; }
.search2 {BACKGROUND-COLOR:#0250A8 ; width:110px; HEIGHT: 22px; border-left:#BBCDE6 1px solid; border-right:#BBCDE6 1px solid; border-top:#BBCDE6 1px solid; border-bottom:#BBCDE6 1px solid; font-family: 

"Verdana","Arial", "宋体";color: #BBCDE6; font-size: 12px}

.th{ background-color:#999999}
 
.t0{ border-right:1px solid #B9DFE3; border-bottom:1px solid #CDE9EF; background-color:#FFFFFF; height:22px;}
.t1{  border-right:1px solid #B9DFE3; border-bottom:1px solid #B9DFE3; background-color:#CDE9EF; height:21px;}
.t2{ font-weight: bold; color:#444444;font-size:10pt; border-left:1px solid #ffffff;border-right:1px solid #7BC2CA;border-top:1px solid #20BED0 ;border-bottom:1px solid #1EB5C6; background:url(../images/line04.gif); height:26px;}
.t3{border-right:1px solid #85B1EC;border-left:1px solid #85B1EC;border-top:1px solid #20BED0 ; border-bottom:1px solid #1EB5C6;background-color:#FFFFFF}


 
.maintitle {font-weight: bold; color:#000000; font-size:11pt; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-weight:-1px}

.bodytxt {font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 11px; line-height: 15px; color: #000000; font-weight: normal}

.tdBar	{background: buttonface;border-top: 2px solid buttonshadow;	
        border-left: 2px solid buttonshadow;	border-bottom: 1px solid buttonhighlight; 
        border-right: 1px solid buttonhighlight; padding: 2px; font: menu;}
.menuBar	{background: #9E9E9E;border-top: 1px solid buttonshadow;	
        border-left: 2px solid buttonshadow;	border-bottom: 1px solid buttonhighlight; 
        border-right: 1px solid buttonhighlight; padding: 1px; font: menu;}

a:link {  color:#0000FF; text-decoration: none; font-size:10pt}
a:visited {  color:#0000FF; text-decoration: none; font-size:10pt}
a:hover {  color:#FF0000; text-decoration: none; font-size:10pt}
a:active {  color:#FF0000; text-decoration: none; font-size:10pt}

a{blr:expression(this.onFocus=this.blur());outline:none;}

a.list1:link {  color:#80FFFF; text-decoration: none;font-size:9pt}
a.list1:visited {  color:#80FFFF; text-decoration: none; font-size:9pt}
a.list1:hover {  color: #FFFFFF; text-decoration:  none;  font-size:9pt}
a.list1:active {  color:#FFFFFF; text-decoration:  none; font-size:9pt}

a.list01:link {  color: #003331; text-decoration: none ; font-size:9pt}
a.list01:visited {  color: #003331; text-decoration: none; font-size:9pt}
a.list01:hover {  color: #006C6C; text-decoration:  none; font-size:9pt}
a.list01:active {  color:#006C6C; text-decoration:  none; font-size:9pt}

a.list2:link {  color:#003331; text-decoration: none; font-weight: bold; font-size:10.5pt}
a.list2:visited {  color:#003331; text-decoration: none; font-weight: bold; font-size:10.5pt}
a.list2:hover {   text-decoration:  none; font-weight: bold; font-size:10.5pt}
a.list2:active {  color:#004080; text-decoration:  none; font-weight: bold; font-size:10.5pt}

span.list2{  color:#004080; text-decoration:  none; font-weight: bold; font-size:10.5pt}

a.list3:link {  color:#404040; text-decoration: none;font-size:9pt}
a.list3:visited {  color:#404040; text-decoration: none; font-size:9pt}
a.list3:hover {  color: #004080; text-decoration:  none;  font-size:9pt}
a.list3:active {  color:#004080; text-decoration:  none; font-size:9pt}


a.list4:link {  color:black; text-decoration: none;font-size:9pt}
a.list4:visited {  color:black; text-decoration: none; font-size:9pt}
a.list4:hover {  color: #FFFF80; text-decoration:  none;  font-size:9pt}
a.list4:active {  color:#FFFF80; text-decoration:  none; font-size:9pt}

a.list5:link { font-family:"Verdana","Arial",  "Helvetica", "sans-serif" ,"宋体"; color:#1461B6; text-decoration: none;font-size:9pt}
a.list5:visited { font-family:"Verdana","Arial",  "Helvetica", "sans-serif" ,"宋体"; color:#1461B6; text-decoration: none; font-size:9pt}
a.list5:hover { font-family:"Verdana","Arial",  "Helvetica", "sans-serif" ,"宋体"; color: #0000FF; text-decoration:  none;  font-size:9pt}
a.list5:active { font-family:"Verdana","Arial",  "Helvetica", "sans-serif" ,"宋体"; color:#0000FF; text-decoration:  none; font-size:9pt}

a.list6:link {  color:#ffffff; text-decoration: none;font-size:9pt}
a.list6:visited {  color:#ffffff; text-decoration: none; font-size:9pt}
a.list6:hover {  color: #00FFFF; text-decoration:  none;  font-size:9pt}
a.list6:active {  color:#00FFFF; text-decoration:  none; font-size:9pt}

span.list6 {  color:#ffffff; text-decoration: none;font-size:9pt}


.change { font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt; line-height: 13pt}
.content{BORDER-BOTTOM: double; BORDER-LEFT: double; BORDER-RIGHT: double; BORDER-TOP: double; border-color:"#336699"; font-size: 9pt; font-weight: normal; color: #000000; line-height: 15pt; border: #336699; clip:   rect(   ); padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 4px}
.name {  line-height: 15pt; font-weight: normal; color: #FF0000; font-size: 9pt; font-family: "Arial", "Helvetica", "sans-serif"; word-spacing: 10pt; letter-spacing: 3pt}
.line {  line-height: 15pt}
.input {  font-size: 9pt}
td {  font-size: 9pt}
.bot {  font-size: 9pt; color: #008080}
.button1 {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #424263 1px solid; BORDER-LEFT: #424263 1px solid; BORDER-RIGHT: #424263 1px solid; BORDER-TOP: #ffffff 1px solid; COLOR: #000000; FONT-SIZE: 9pt}
.but2 {
	BACKGROUND-COLOR: #D4D0C8; BORDER-BOTTOM: #424263 1px solid; BORDER-LEFT: #424263 1px solid; BORDER-RIGHT: #424263 1px solid; BORDER-TOP: #424263 1px solid; COLOR: #000000; FONT-SIZE: 9pt}
.TextBorder {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; COLOR:#000000; FONT-SIZE: 9pt}
.TextBorder1 {filter:progid:DXImageTransform.Microsoft.Shadow(Color=#52B1C2,Direction=120,strength=2);
	BACKGROUND-COLOR:#ffffff; BORDER-BOTTOM: #419CA7 1px solid; BORDER-LEFT: #419CA7 1px solid; BORDER-RIGHT: #419CA7 1px solid; BORDER-TOP: #419CA7 1px solid; COLOR: #000000;FONT-SIZE: 9pt;text-align: center;}
	
.TextBorder3 {
	BORDER-BOTTOM: #336699 1px solid; BORDER-LEFT: #336699 1px solid; BORDER-RIGHT: #336699 1px solid; FONT-SIZE: 9pt}
	
.TextBorder4 {
	BACKGROUND-COLOR: #ffffff; BORDER-LEFT: #008A8A 1px solid; BORDER-RIGHT: #008A8A 1px solid; COLOR:#000000; FONT-SIZE: 9pt}	

.TextBorder01 {
	BORDER-BOTTOM: #008A8A 1px solid; BORDER-LEFT: #008A8A 1px solid; BORDER-RIGHT: #008A8A 1px solid; BORDER-TOP: #008A8A 1px solid; COLOR:#000000; FONT-SIZE:9pt} 

.TextBorder02 {
	BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM: #7F9DB9 1px solid; BORDER-LEFT: #7F9DB9 1px solid; BORDER-RIGHT: #7F9DB9 1px solid; BORDER-TOP: #7F9DB9 1px solid; COLOR:#000000; FONT-SIZE: 9pt}
.TextBorder03 {
	height: 21px; BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM: #4C74BC 1px solid; BORDER-LEFT: #4C74BC 1px solid; BORDER-RIGHT: #4C74BC 1px solid; BORDER-TOP: #4C74BC 1px solid; COLOR:#000000; FONT-SIZE: 10pt}
.TextBorder04 {
	BACKGROUND-COLOR: #E1F4F7;BORDER-BOTTOM: #4BAFBA 1px solid; BORDER-LEFT: #4BAFBA 1px solid; BORDER-RIGHT: #4BAFBA 1px solid; BORDER-TOP: #4BAFBA 1px solid; COLOR:#000000; font-family: "Arial", "Verdana", "Helvetica", "sans-serif";FONT-SIZE: 10pt}
.TextBorder05 {
	BACKGROUND-COLOR: #ffffff;BORDER-BOTTOM: #9E9E9E 1px solid; BORDER-LEFT: #9E9E9E 1px solid; BORDER-RIGHT: #9E9E9E 1px solid; BORDER-TOP: #9E9E9E 1px solid; COLOR:#9E9E9E; font-family: "Arial", "Verdana", "Helvetica", "sans-serif";FONT-SIZE: 10pt} 

.TextBorder001 {
	BACKGROUND-COLOR: #BBCDE6; BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; COLOR:#000000; FONT-SIZE: 9pt}
.TextBorder002 {
	BACKGROUND-COLOR: #BBCDE6; BORDER-BOTTOM: #BBCDE6 1px solid; BORDER-LEFT: #BBCDE6 1px solid; BORDER-RIGHT: #BBCDE6 1px solid; BORDER-TOP: #BBCDE6 1px solid; COLOR:#000000; FONT-SIZE: 9pt}
.TextBorder003 {
	BACKGROUND-COLOR: #AEDAF8; BORDER-BOTTOM: #3E87CC 1px solid; BORDER-LEFT: #3E87CC 1px solid; BORDER-RIGHT: #3E87CC 1px solid; BORDER-TOP: #3E87CC 1px solid; COLOR:#000000; FONT-SIZE: 9pt}

.TextBorder004 {
    BACKGROUND-COLOR: #A2FFFF; BORDER-BOTTOM: #008A8A 1px solid;  COLOR:#000000; FONT-SIZE: 9pt}

.TextBorder006 {
	BACKGROUND-COLOR: #B6ECF4; BORDER-BOTTOM: #008A8A 1px solid; BORDER-LEFT: #008A8A 1px solid; BORDER-RIGHT: #008A8A 1px solid; BORDER-TOP: #008A8A 1px solid; COLOR:#000000; FONT-SIZE: 9pt}
.TextBorder007 {
	BORDER-BOTTOM:#4BAFBA 1px solid; BORDER-LEFT: #4BAFBA 1px solid; BORDER-RIGHT: #4BAFBA 1px solid; BORDER-TOP: #4BAFBA 1px solid; COLOR:#000000; FONT-SIZE: 9pt}	
	
.TextBorder008 {
	BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM: #4BAFBA 1px solid; BORDER-LEFT: #4BAFBA 1px solid; BORDER-RIGHT: #4BAFBA 1px solid; BORDER-TOP: #4BAFBA 1px solid}
		
.TextBorder009 { BORDER-BOTTOM: #1CABBD 1px solid; background:url(../images/line03.gif);} 

.TextBorder010 {
	BACKGROUND-COLOR: #018781; BORDER-BOTTOM: #008A8A 1px solid; BORDER-LEFT: #008A8A 1px solid; BORDER-RIGHT: #008A8A 1px solid; BORDER-TOP: #008A8A 1px solid; COLOR:#000000; FONT-SIZE: 9pt} 


.inputbox1 {font-size: 9pt;
	BACKGROUND-COLOR: #ffffff; BORDER-RIGHT: #C0C0C0 0px solid; BORDER-TOP: #C0C0C0 0px solid; BORDER-LEFT: #C0C0C0 0px solid; COLOR: #ff6600; BORDER-BOTTOM: #C0C0C0 1px solid; 
}


filter:   Dropshadow(offx=-2,offy=-2,color=#1462B8)

  Dropshadow(offx=2,offy=2,color=#1462B8)

  Dropshadow(offx=-2,offy=2,color=#1462B8)

   Dropshadow(offx=2,offy=-2,color=#1462B8)}



.search2 {bottom:2px;BACKGROUND-COLOR:#0250A8 ; width:110px; HEIGHT: 22px; border-left:#BBCDE6 1px solid; border-right:#BBCDE6 1px solid; border-top:#BBCDE6 1px solid; border-bottom:#BBCDE6 1px solid; font-family: "Verdana","Arial", "宋体";color: #BBCDE6; font-size: 12px}

.fnShowWindows:hover{color:#FF0000}
.win_bg{background:#CCC; opacity:0.2; filter:alpha(opacity=20); position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:998;}
.winTitle{background:#9DACBF; height:20px; line-height:20px}
.winTitle .title_left{font-weight:bold; color:#FFF; padding-left:5px; float:left}
.winTitle .title_right{float:right}
.winTitle .title_right a{color:#000; text-decoration:none}
.winTitle .title_right a:hover{text-decoration:underline; color:#FF0000}
.winContent{font-family: "Arial", "Helvetica", "sans-serif"; font-size: 10pt; line-height: 12pt; padding:5px;}


